.image{

    z-index: 2;
    position: fixed;
    left:1000px;
    top:55px;
    height: 420px;
    width: 420px;
    border: 0px solid;
    border-radius: 50%;
    overflow: hidden;
    background-color: #444;


}