.card{
    z-index: 2;
    position: relative;
    top:495px;
    left:50px;
    margin-right: 1cm;
    margin-bottom: 1cm;
    height: 195px;
    width: 350px;
    border: 0px solid black;
    background-color:#cc925c;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px white;
    font-weight: bold;
    text-align: center;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title{
    font-size: 9mm;

}

.text{
    font-size:5mm;
}

.flex-container{
    display: flex;
    flex-direction: row ;    
}

.button{
   
   border:3px solid black;
   border-radius: 10%;
   background-color:whitesmoke;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   font-size: large;
   text-align: center;
   text-shadow: 1px 1px 2px white;

}