<!DOCTYPE html>
<html lang = "en">

<div class = "textBox">
    <div class = "title">
        <h1>In one gleamy night</h1>
    </div>
    
    <div><p class="subtext">The tavern is roaring with laughter.The lads are dancing and singing<br>
                            while chugging mugs of ale one after another while you sit alone,<br>
                            at the table, pondering about whether you should leave or not. </p>
    </div>
      
    <div class = "button">

    </div>


</div>

</html>
