/* Top part */ 

.splitUp {

    position: fixed;
    z-index: 1;
    height: 50%;
    top:0;
    left: 0;
    right: 0;
    background-color: #cc925c;
    border: 5px solid black;
    border-right: 0px;
    border-left: 0px;
    
}

.button{
   position:fixed;
   z-index:2;
   height: 1cm;
   width: 4cm;
   top:290px;
   left:463px;
   border:3px solid black;
   border-radius: 10%;
   background-color:whitesmoke;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   font-size: large;
   text-align: center;
   text-shadow: 1px 1px 2px white;
}